<!doctype html>
<title>{% block title %}{% endblock %} - {{ gettext('pyfibu') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
    <h1><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/icons/icon.png') }}"> {{ gettext('pyfibu') }}</a> {% block context %}{% endblock %}</h1>
    <ul>
    {% if g.user %}
        <li><span>{{ g.user.name }}</span>
        <li><a href="{{ url_for('auth.logout') }}">{{ gettext('Log out') }}</a>
    {% else %}
        <li><a href="{{ url_for('auth.login') }}">{{ gettext('Log in') }}</a>
    {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

